.ball {
    position: absolute;
    top   : 240px;
    left  : 240px;
    width : 20px;
    height: 20px;
    background: blueviolet;
    border-radius: 100%;
}

#myCanvas { 
    position: relative;
    border:1px solid #000000;
}

#resetButton {
    
}